In [5]:
#1
library("MASS")
donne = immer
y1 = immer$Y1
y2 = immer$Y2
t.test(y1,y2,paired=TRUE)

	Paired t-test

data:  y1 and y2
t = 3.324, df = 29, p-value = 0.002413
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  6.121954 25.704713
sample estimates:
mean of the differences
               15.91333

In [34]:
#2
c = y1 - y2
n = length(c)
x = c > 0
grand = sum(x)
less = n - grand
pp = data.frame(grand,less)
prop.test(pp$grand,n,0.5)

	1-sample proportions test with continuity correction

data:  pp$grand out of n, null probability 0.5
X-squared = 9.6333, df = 1, p-value = 0.001911
alternative hypothesis: true p is not equal to 0.5
95 percent confidence interval:
 0.6086926 0.9159524
sample estimates:
  p
0.8

------

In [36]:
#3
donne = shoes
a = donne$A
b = donne$B

var.test(a,b)

	F test to compare two variances

data:  a and b
F = 0.94739, num df = 9, denom df = 9, p-value = 0.9372
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.2353191 3.8142000
sample estimates:
ratio of variances
         0.9473933

In [38]:
#4
t.test(shoes$A,shoes$B,paired=TRUE,var.equal=TRUE)

	Paired t-test

data:  shoes$A and shoes$B
t = -3.3489, df = 9, p-value = 0.008539
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.6869539 -0.1330461
sample estimates:
mean of the differences
                  -0.41

In [41]:
#5
donne = galaxies
shapiro.test(donne)

	Shapiro-Wilk normality test

data:  donne
W = 0.87177, p-value = 7.302e-07

In [60]:
#6
donne = read.csv("/Users/whz/utc/2021.automne/SY02/delai-data.data")
lameda = colMeans(donne)
e = rexp(length(donne),lameda)
ks.test(donne,e)

	Two-sample Kolmogorov-Smirnov test

data:  donne and e
D = 1, p-value = 0.00939
alternative hypothesis: two-sided

In [61]:
#7
install.packages("isdals")

The downloaded binary packages are in
	/var/folders/cn/8vhdhtd50yd2cnf2cm9nb2s40000gn/T//RtmpxofKpJ/downloaded_packages

In [77]:
library(isdals)
data(bodyfat)
l = lm(formula = Fat ~ Thigh, data = bodyfat)
Thigh = bodyfat[,3]
fa = data.frame(fatt)

p = predict(l,fa,interval="confidence")
err = p[,1]-bodyfat[,1]
shapiro.test(err)
#shapiro.test(l$residuals)

	Shapiro-Wilk normality test

data:  err
W = 0.97401, p-value = 0.8363

In [82]:
#8
donne = data.frame(chocolat=c(100,350),vanille=c(120,200),fraise=c(60,90),row.names=c('homme','femme'))
donne

      chocolat vanille fraise
homme 100      120     60
femme 350      200     90

In [85]:
#9
ct = chisq.test(donne)

In [86]:
#10
ct

	Pearson's Chi-squared test

data:  donne
X-squared = 28.362, df = 2, p-value = 6.938e-07

In [88]:
#11
ct$observed
ct$expected

      chocolat vanille fraise
homme 100      120     60
femme 350      200     90

      chocolat vanille  fraise
homme 136.9565  97.3913  45.65217
femme 313.0435 222.6087 104.34783

In [96]:
#12
o = ct$observed
e = ct$expected
d = sum((o-e)^2/e)
d

[1] 28.3621

In [102]:
#13
donne = read.csv("/Users/whz/utc/2021.automne/SY02/cold.data")
donne

  X       Cold NoCold
1 Placebo 335   76
2 VitC    302  105

In [103]:
chisq.test(donne)

ERROR: Error in chisq.test(donne): all entries of 'x' must be nonnegative and finite